<!DOCTYPE html>
<html>
  <head>
    <title>MQTT Data</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script>
      const socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      socket.on("connect", () => {
        console.log("WebSocket connected");
      });

      socket.on("disconnect", () => {
        console.log("WebSocket disconnected");
      });

      socket.on("mqtt_data", (data) => {
        console.log("Received data:", data);
        const dataContainer = document.getElementById("data-container");
        const dataElement = document.createElement("pre");
        var isMovementDetected = data["data"]["motion"];
        var timestamp = data["timestamp"];
        if (isMovementDetected) {
          dataElement.textContent = "🚨🚨🚨 Movement Detected 🚨🚨🚨 " + String(timestamp);
        } else {
          dataElement.textContent = "No Movement" + String(timestamp);
        }
        dataContainer.innerHTML = "";
        dataContainer.appendChild(dataElement);
      });
    </script>
  </head>
  <body>
    <h1>MQTT Data</h1>
    <div id="data-container"></div>
  </body>
</html>
